
<html lang="en">

    <div *ngIf="product">
      <h3>Product Details</h3><br><br>
      
      <div id="labels">
        <h3>Name </h3>
        <h3>Qty </h3>
        <h3>Price </h3>
      </div>

      <div id="attributes">
        <p>{{product.name}}</p>
        <p>{{product.qty}}</p>
        <p>${{product.price}}</p>
      </div>


      <button class="back_btn" (click) = "redirectHome()">BACK</button>
      <button id="red_btn" [disabled]="product.qty != 0" (click)="deleteById(product._id)" >DELETE</button>

    </div>
    
</html>
